<pre style="display: none" id="women-usopen-2014-outcomes">
WILLIAMS, s
KING
LEPCHENKO
BARTHEL
STOSUR
KANEPI
VANDEWEGHE
SUAREZ NAVARRO
PENNETTA
ROGERS
GIBBS
PAVLYUCHENKOVA
DELLACQUA
WANG
PLISKOVA, ka
IVANOVIC
KVITOVA
CETKOVSKA
KRUNIC
KEYS
ERAKOVIC
VESNINA
MCHALE
AZARENKA
BELLIS
DIYAS
HERCOG
MAKAROVA
ZAHLAVOVA STRYCOVA
NICULESCU
CIRSTEA
BOUCHARD
KERBER
KUDRYAVTSEVA
BENCIC
NARA
STEPHENS
LARSSON
PIRONKOVA
JANKOVIC
SAFAROVA
ZHENG, s
HANTUCHOVA
CORNET
VINCI
BEGU
PENG
RADWANSKA
SHARAPOVA
DULGHERU
BRENGLE
LISICKI
PETKOVIC
PUIG
SASNOVICH
WOZNIACKI
ERRANI
RODIONOVA
BACSINSZKY
WILLIAMS, v
LUCIC-BARONI
PEER
CEPELOVA
HALEP
WILLIAMS, s
LEPCHENKO
KANEPI
SUAREZ NAVARRO
PENNETTA
GIBBS
DELLACQUA
PLISKOVA, ka
KVITOVA
KRUNIC
VESNINA
AZARENKA
DIYAS
MAKAROVA
ZAHLAVOVA STRYCOVA
BOUCHARD
KERBER
BENCIC
LARSSON
JANKOVIC
SAFAROVA
CORNET
VINCI
PENG
SHARAPOVA
LISICKI
PETKOVIC
WOZNIACKI
ERRANI
WILLIAMS, v
LUCIC-BARONI
HALEP
WILLIAMS, s
KANEPI
PENNETTA
DELLACQUA
KRUNIC
AZARENKA
MAKAROVA
BOUCHARD
BENCIC
JANKOVIC
SAFAROVA
PENG
SHARAPOVA
WOZNIACKI
ERRANI
LUCIC-BARONI
WILLIAMS, s
PENNETTA
AZARENKA
MAKAROVA
BENCIC
PENG
WOZNIACKI
ERRANI
PENG
WOZNIACKI
williams, s
makarova
williams, s
wozniacki
</pre>
