/* -*- mode: css -*- */
.tournabox-container .tournabox-root {
  border: 1px solid green;
  font-size: 16px;
  display: inline-block;
  color: black;
  font-family: Arial, Sans Serif;
}
@media (min-width: 768px) {
  .tournabox-container .tournabox-root {
    min-width: 750px;
  }
}
.tournabox-container .tournabox-root .tournabox-brand {
  text-align: right;
  padding: 6px;
  background-color: #d5ebed;
}
.tournabox-container .tournabox-root .tournabox-brand a {
  color: blue;
  padding-right: 10px;
  text-decoration: none;
  font-style: italic;
}
.tournabox-container .tournabox-root .tournabox-brand a:hover {
  text-decoration: underline;
}
.tournabox-container .tournabox-root .tournabox-menu {
  background-color: #d5ebed;
  position: relative;
  padding: 6px;
}
.tournabox-container .tournabox-root .tournabox-menu .tournabox-filter-span {
  position: absolute;
  right: 0;
  top: 6px;
}
.tournabox-container .tournabox-root .tournabox-menu input[type="checkbox"] {
  margin: 0 20px 0 4px;
  vertical-align: middle;
}
.tournabox-container .tournabox-root .tournabox-menu .tournabox-filter-input {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0;
}
.tournabox-container .tournabox-root .tournabox-results {
  border-collapse: collaps;
  border-spacing: 0px;
  overflow: auto;
  padding: 4px;
}
@media (min-width: 768px) {
  .tournabox-container .tournabox-root .tournabox-results {
    min-width: 748px;
  }
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-name {
  cursor: pointer;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-name:hover {
  background-color: #ffe0e0;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-header-row .tournabox-header {
  padding: 8px;
  font-size: 1.2em;
  font-weight: bold;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-header-row .tournabox-header .tournabox-name {
  font-weight: normal;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-odd {
  background-color: #ebebeb;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-country {
  margin-left: 4px;
  color: purple;
  font-size: .8em;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-seeded .tournabox-name {
  color: #000099;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-seeded .tournabox-seed {
  font-weight: bold;
  vertical-align: super;
  font-size: .8em;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-seeded .tournabox-seed:before {
  content: ' [';
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-seeded .tournabox-seed:after {
  content: ']';
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-row {
  vertical-align: baseline;
  line-height: 1;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-row td {
  padding: 2px 4px 2px 4px;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-row td:first-child {
  padding-left: 7px;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-row .tournabox-entry {
  font-style: italic;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-row .tournabox-was-defeated-by {
  color: red;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-row .tournabox-defeated {
  color: green;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-row .tournabox-upset {
  color: green;
  font-weight: bold;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-row .tournabox-was-upset-by {
  color: red;
  font-weight: bold;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-row .tournabox-advanced {
  color: green;
  text-decoration: underline;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-row .tournabox-will-face {
  color: blue;
}
.tournabox-container .tournabox-root .tournabox-results .tournabox-row .tournabox-in-round .tournabox-round {
  margin-left: 5px;
  text-decoration: underline;
  font-weight: bold;
}
